:root {
	--random-color: transparent;
}
$color-black: #03001c;
$color-black-light: #03001c;
$color-white: #eee;
$color-error: #eb455f;
$color-success: #227c70;

// Break points
$media-xxLarge: 1550px;
$media-xLarge: 1200px;
$media-large: 991px;
$media-medium: 768px;
$media-small: 600px;
$media-xSmall: 480px;
