@use 'animations';
@use 'variables';
@use 'components';
@use 'mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

	@include break(variables.$media-xLarge) {
		font-size: 56.25%;
	}
	@include break(variables.$media-medium) {
		font-size: 50%;
	}
	@include break(variables.$media-xSmall) {
		font-size: 43.75%;
	}
}
html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	box-sizing: border-box;
	overflow: scroll;
	font-size: 1.6rem;
	/* font-family: "Advent Pro", sans-serif; */
	font-family: 'Inconsolata', monospace;
	color: variables.$color-white;
}

a {
	color: inherit;
	text-decoration: none;
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid variables.$color-white;
	border-radius: 2px;
}
input,
button,
select,
textarea,
a,
li {
	-webkit-tap-highlight-color: transparent;
}

input:disabled {
	color: #ccc;
}

button {
	color: variables.$color-black-light;
	background-color: variables.$color-white;
	outline: none;
}
